#off-canvas {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        color: $arc-purple;
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
    }

    #main-nav {
        text-align: center;
        font-size: 2rem;
        width: 100%;
    }
}