header.header {
    position: relative;
    height: 150px;

    &.shrink {

        .top-bar {
            transition: all .5s;
            padding: .5rem;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 11;

            .logo {
                img {
                    width: 75px;
                    transition: all .5s;

                }

                span {
                    font-size: 30px;
                    transition: all .5s;

                }
            }
        }
    }

    .top-bar {
        transition: all .5s;
        position: relative;
        flex-wrap: nowrap;

        .logo {
            img {
                width: 100px;
                margin-top: -15px;
                transition: all .5s;

            }

            span {
                font-family: 'SuperclarendonRegularBold';
                font-size: 40px;
                text-shadow: -2px 2px $white;
                margin-left: -20px;
                z-index: 11;
                letter-spacing: .05px;
                display: inline-block;
                color: $primary-color;
                transition: all .5s;
            }
        }

        .top-bar-right {
            .menu {
                a {
                    color: $primary-color;
                    font-weight: 700;
                    font-size: 1.5rem;
                }
            }
    
        }

        @include breakpoint(small down){
            .top-bar-left, 
            .top-bar-right {
                flex: 0 0 100%;
                /* flex: 1; */
                max-width: 50%;
            }

            .top-bar-right {
                text-align: right;
                padding: 1rem 2rem;

                button {
                    color: $arc-purple;
                }
            }
        }
    }
}