@font-face {
  font-family: 'SuperclarendonRegular';
  src: url("../fonts/SuperclarendonRg.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/SuperclarendonRg.eot?#iefix") format("embedded-opentype"), url("../fonts/SuperclarendonRg.woff2") format("woff2"), url("../fonts/SuperclarendonRg.woff") format("woff"), url("../fonts/SuperclarendonRg.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

.ff-super-reg {
  font-family: 'SuperclarendonRegular';
}

@font-face {
  font-family: 'SuperclarendonRegularBold';
  src: url("../fonts/SuperclarendonRg-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/SuperclarendonRg-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SuperclarendonRg-Bold.woff2") format("woff2"), url("../fonts/SuperclarendonRg-Bold.woff") format("woff"), url("../fonts/SuperclarendonRg-Bold.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

.ff-super-bold {
  font-family: 'SuperclarendonRegularBold';
}

@font-face {
  font-family: 'MyriadProRegular';
  src: url("../fonts/Myriad_Pro_Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Myriad_Pro_Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Myriad_Pro_Regular.woff2") format("woff2"), url("../fonts/Myriad_Pro_Regular.woff") format("woff"), url("../fonts/Myriad_Pro_Regular.ttf") format("truetype"), url("../fonts/Myriad_Pro_Regular.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

.affiliate {
  border: 1px dashed grey;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 3rem;
}

.affiliate h4 {
  margin: 0;
  color: #5e2696;
  line-height: 1;
}

.affiliate img {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin: 1.5rem auto;
  display: block;
}

.affiliate p {
  font-size: 16px;
  line-height: 1.5;
}

.arcanacon-full-width-block {
  border: 1px dashed grey;
  padding: 6rem 0px;
}

.arcanacon-full-width-block .wp-block-column {
  margin: 0;
}

.cta-block.left-align {
  text-align: left;
}

.cta-block.center-align {
  text-align: center;
}

.cta-block.right-align {
  text-align: right;
}

.cta {
  min-width: 300px;
  background-color: #f552a6;
  padding: 1rem;
  text-align: center;
  font-family: 'SuperclarendonRegular';
  font-weight: 300;
  color: #ffffff;
  font-size: 1.65rem;
  border: 2px solid #f552a6;
  transition: all .5s;
  display: inline-block;
  text-decoration: none;
}

.cta:hover {
  background-color: transparent;
  color: #f552a6;
  text-decoration: none;
}

/*
WP block overrides
*/
body .content h1,
body .content .h1,
body .wp-block-heading h1 {
  color: #5e2696;
  font-family: 'SuperclarendonRegularBold';
  font-size: 56px;
}

body a {
  font-weight: 600;
}

body h1 a, body .h1 a, body h2 a, body .h2 a, body h3 a, body .h3 a, body h4 a, body .h4 a, body h5 a, body .h5 a, body h6 a, body .h6 a {
  font-weight: 300;
}

body .edit-post-layout__content .wp-block-heading h2,
body .edit-post-layout__content .wp-block-heading h3,
body .edit-post-layout__content .wp-block-heading h4,
body .edit-post-layout__content .wp-block-heading h6 {
  font-family: 'SuperclarendonRegular';
  color: #4d4d4d;
}

body .edit-post-layout__content .editor-rich-text p {
  font-family: 'MyriadProRegular';
  color: #4d4d4d;
}

body .edit-post-layout__content .editor-rich-text p a {
  color: #f552a6;
}

body .edit-post-layout__content hr.wp-block-separator {
  border-color: #5e2696;
  max-width: 100% !important;
}

@media (max-width: 782px) {
  body .edit-post-layout__content .wp-block-column {
    flex-basis: 100%;
  }
  body .edit-post-layout__content .wp-block-column:nth-child(odd), body .edit-post-layout__content .wp-block-column:not(:last-child) {
    margin-right: 0;
  }
  body .edit-post-layout__content .wp-block-column:not(:first-child), body .edit-post-layout__content .wp-block-column:nth-child(2n) {
    margin-left: 0;
  }
}
