@import './fonts.scss';
@import "./fa-fonts.css";
@import './globals/palette';

@import 'foundation';

@import './globals/mixins';
@import './globals/reusable';

@import './globals/helpers';

@import './globals/typography';

@import "pages/home";
//  @import "pages/single";

@import 
"sections/banners",
"sections/site-header",
"sections/footer",
"sections/off-canvas";

body {
    padding-top: 0px;
    transition: padding-top .5s;
}

// @import "sections/off-canvas";

// @import "components/panel";
// @import "components/hamburger";

.affiliate,
.arcanacon-full-width-block {
    border: none;
}