@import './fonts.scss';
@import './globals/palette';

@import 'foundation';

@import './globals/mixins';
@import './globals/reusable';

@import './globals/helpers';

@import './globals/ctas';
// @import './globals/typography';


@import "pages/home";
//  @import "pages/single";

@import "sections/site-header",
"sections/footer.scss";

// @import "sections/off-canvas";

// @import "components/panel";
// @import "components/hamburger";

body {
    padding-top: 0px;
    transition: padding-top .5s;
    
    &.header-fixed {
        padding-top: 100px;
    }
}