.home {
    .banner-container {
        height: calc(100vh - 150px);

        .banner {
            height: 85%;

            h1 {
                a {
                    color: $arc-white;
                }
            }
        }

        .banner-abstract {
            height: 15%;
            background-color: $arc-purple;
            color: $arc-white;

            .content {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                p{
                    line-height: 1.25;
                }
            }
        }

        @include breakpoint(medium down){
            height: calc(100vh - 100px);
            .banner {
                height: 75%;
            }
    
            .banner-abstract {
                height: 25%;
                p {
                    line-height: 1;
                }
            }
        }
    }
}